[submodule "BamCoverage"]
	path = BamCoverage
	url = /home/EIDRUdata/Tyghe/Dev/python/BamCoverage.git
[submodule "bwa"]
	path = bwa
	url = /home/EIDRUdata/Tyghe/Dev/bwa.git
[submodule "samtools"]
	path = samtools
	url = /home/EIDRUdata/Tyghe/Dev/samtools.git
[submodule "htslib"]
	path = htslib
	url = /home/EIDRUdata/Tyghe/Dev/htslib.git
