*.pyc
*.swp
perms.sh
.miseqpipeline
*build
*dist
*egg*
*log
.virtpath
*.[ao]
*matplotlibrc
dependencies/bwa/bwa
dependencies/samtools/bcftools/bcftools
dependencies/samtools/misc/ace2sam
dependencies/samtools/misc/bamcheck
dependencies/samtools/misc/md5fa
dependencies/samtools/misc/md5sum-lite
dependencies/samtools/misc/wgsim
dependencies/samtools/samtools
dependencies/samtools/misc/maq2sam-long
maq2sam-short
setuptools-*.zip
.vagrant
setuptools-*
virtualenv-*
miseqpipeline/config.yaml
doc
