language: python
python:
  - "2.6"
  - "2.7"
before_install:
    - sudo apt-get update -qq
    - "export DISPLAY=:99.0" # Should fix matplotlib errors
    - "sh -e /etc/init.d/xvfb start" #trigger travis
    - sudo mkdir -p /ngsdata
    - sudo chmod 777 /ngsdata
    - sed 's%/path/to/NGSDATA%/ngsdata%' ngs_mapper/config.yaml.default > ngs_mapper/config.yaml
install:
    - sudo pip install -U pip wheel setuptools pyyaml
    - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install unittest2 ordereddict; fi
    - sudo python setup.py install_system_packages
    - python setup.py install
script:
    - nosetests ngs_mapper/tests -v --nologcapture -a '!slow' -I '.*test_functional.py$'
    - travis_wait nosetests -v ngs_mapper/tests/test_functional.py
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/733ce26f5af2ec9f2503
    on_success: change
    on_failure: always
    on_start: never
